<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="smodeal-logo" class="navbar-brand" href="{{ path('smodeal_ad_homepage') }}">
            <img src="{{ asset("img/logo.png") }}" alt="Smodeal - Accueil" title="Smodeal - Accueil" width="65%" />
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('smodeal_ad_homepage') }}">Accueil</a></li>
            <li><a href="#about">A propos</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catégories <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('smodeal_admin_category_add') }}">Ajouter</a></li>
                <li><a href="#">Liste</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Sous-catégories</li>
                <li><a href="#">Ajouter</a></li>
                <li><a href="{{ path('smodeal_admin_subcategory') }}">Liste</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>